
<div>
  <!-- <button ui-sref="addequipment" class="btn pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> -->
  <table st-table="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Role</th>

      </tr>
    </thead>
    <tr ng-repeat="user in users">
      <td>{{users.firstName}}</td>
      <td>{{users.lastName}}</td>
      <td>{{users.username}}</td>
      <td>{{users.role}}</td>
    </tr>
  </table>
  <div ng-if="!users">No users to display.</div>
</div>
