<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <h3>Filter</h3>
      <hr />
    </div>
    <div class="col-sm-8">
      <h3 class="pull-left">{{term.name}}</h3>
      <button ui-sref="section-add({id : {{termID}}})" class="btn btn-primary pull-right">Add Section</button>
      <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </div>
    <div class="col-sm-2">
      <h3>Section Info</h3>
      <hr />
      <span ng-if="!selectedSection">Click on a section to see info about it</span>
      <div ng-if="selectedSection">
          Course: {{selectedSection.course.name}}<br />
          Section: {{selectedSection.name}}<br />
          Type: {{selectedSection.component.componentType.name}}<br />
          Room: {{selectedSection.room.roomNumber}}<br />
          <button type="button" class="btn btn-warning" ui-sref="section-edit(selectedSection)">Edit</button>
      </div>
    </div>
  </div>
</div>
