
<div>
  <button ng-if="showEdit" ui-sref="addroom" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  <table st-table="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Capacity</th>
        <th>Room Type</th>
      </tr>
    </thead>
    <tr ng-repeat="room in rooms">
      <td>{{room.roomNumber}}</td>
      <td>{{room.capacity}}</td>
      <td>{{room.roomType.roomType}}</td>
    </tr>
  </table>
  <div ng-if="!rooms">No rooms to display.</div>
</div>
