.logo {
    max-height: 70px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav-center {
  width: 100%;
  text-align: center;
}

.cpn-edit-grp .btn {
  margin-left: 3px;
  margin-right: 3px;
}

.fc-unthemed .fc-today {
    background: none;
}
