.logo {
    max-height: 70px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav-center {
  width: 100%;
  text-align: center;
  /*background-color: #FFFFFF;*/
}

.navbar-default {
  background-color: #FFFFFF;
}


/*Navigation Bar*/
.navbar-default .navbar-nav .nav_item:hover {
    color: #49654E;
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color : black;
  background-color: #FFFFFF;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
  color: #49654E;
}

.cpn-edit-grp .btn {
  margin-left: 3px;
  margin-right: 3px;
}

.fc-unthemed .fc-today {
    background: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active,
.btn-primary[disabled], .btn-primary:focus{
  background-color: #8BA889;
  border-color: #8BA889;
}

.btn-danger {
  background-color: #5B6469;
  border-color: #5B6469;
}

.btn-warning {
  background-color: #5B6469;
  border-color: #5B6469;

}

/*Setup Header Bar */
.nav.navbar-nav-center a.btn.btn-lg {
  color: black;
}

.nav.navbar-nav-center a.btn.btn-lg:hover {
  color: #49654E;
}

/*Resource Tables*/
.ng-scope > table {
  margin-left: auto;
  margin-right: auto;


}

.ng-scope.btn.btn-primary.pull-right.ng-scope {
  background-color: #8BA889;
}
.jumbotron {
    padding-top: 64px;
    padding-left: 500px;
    padding-right: 500px;
}
