<div>
  <form>
  <fieldset class="form-group">
    <label>Equipment Name</label>
    <input type="text" class="form-control" placeholder="Enter equipment name" ng-model="equipment.name">
  </fieldset>
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Description" ng-model="equipment.description">
  </fieldset>
  <button type="button" class="btn btn-primary" ng-click="addEquipment()">Submit</button>
  <button type="button" class="btn btn-warning" ng-click="quit()">Cancel</button>
  </form>
</div>
