<div>
  <form>
  <fieldset class="form-group">
    <label>Component Type Name</label>
    <input type="text" class="form-control" placeholder="Enter component type name" ng-model="cType.name">
  </fieldset>
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Description" ng-model="cType.description">
  </fieldset>
  <button type="button" class="btn btn-primary" ng-click="submitChange()">Submit</button>
  <button type="button" class="btn btn-warning" ng-click="quit()">Cancel</button>
  </form>
</div>
