<div>
  <form>
    <div class="form-group">
      <label for="sel-course">Select course:</label>
      <select class="form-control" id="sel-course"
      ng-model="selectedCourse" ng-options="course.name for course in courses" ng-change="startNewSections()">
      </select>
    </div>

    <div ng-repeat="section in sections">
      <br/>
      <h3 ng-if="!section.name">New section</h3>
      <h3>{{section.name}}</h3>
      <div class="form-group">
        <label for="sel-component">Component:</label>
        <select ng-disabled="!selectedCourse" class="form-control" id="sel-component" ng-model="section.component"
        ng-options="component.componentType.name + ' - ' + component.componentType.description for component in selectedCourse.components">
        </select>
      </div>
      <fieldset class="form-group">
        <label>Section Name:</label>
        <input type="text" class="form-control" placeholder="Enter section name" ng-model="section.name">
      </fieldset>
      <div class="form-group">
        <label for="sel-prof">Select professor:</label>
        <select class="form-control" id="sel-prof" ng-model="section.selectedProfessor"
        ng-options="user.firstName + ' ' + user.lastName for user in users">
        </select>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="sel-time">Start Time:</label>
            <select class="form-control" id="sel-time" ng-model="section.startTime"
            ng-options="timeToReadable(time) for time in times">
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="sel-end-time">End Time:</label>
            <select class="form-control" id="sel-end-time" ng-model="section.endTime"
            ng-options="timeToReadable(time) for time in times">
            </select>
            <label class="label-warning" ng-if="section.startTime && section.endTime && !timeValid(section)">
              End must come after start time
            </label>
          </div>
        </div>
      </div>
    </div>

    <button ng-click="submitSections()" ng-disabled="!selectedCourse" type="button" class="btn btn-primary">Create Sections</button>
    <button type="button" class="btn btn-warning" ng-click="quit()">Cancel</button>
  </form>
</div>
